*{
    margin: 0;
    padding: 0;

}
body{
    margin:20px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    background-color: aquamarine;
}
.button{
     margin: 5px;
     padding: 5px;
     border-radius: 5px;
     font-size: 15px;
     background-color: beige;
     flex-direction: column;
}
.box{
    margin: 5px;
    padding: 5px;
    border-radius: 7px;
    font-size: 20px;
    background-color: bisque;
}
button:hover {  
    background-color: #ff0000;  
    color: #ffffff;  
  } 